{% extends "base/base.html" %}
{%load static%}

{% block title %}Quản lý Workspace{%endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    rel="stylesheet"
/>
{% endblock %}


{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Danh sách Workspace</h2>
    <a href="{% url 'create_workspace' %}" class="btn btn-primary">Tạo Workspace mới</a>
</div>

<div id="workspace-container" data-url="{% url 'workspace_list' %}">
    <p>Đang tải danh sách workspace...</p>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'workspaces/js/main.js' %}"></script>
{% endblock %}