{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    
</head>
<body>
    <ul class="messages" id="message-area">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h1>Login</h1>
                {% for field in login_form %}
                    <p>
                        {{ field }}
                        {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
                        {% for error in field.errors %}
                            <ul class="errorlist"><li>{{ error }}</li></ul>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit" name="login">Login</button>
                <a href="{% url 'google-login' %}" class="google-login-button">Continue with Google</a>
            </form>
        </div>

        <div class="form-container sign-up-container">
            <form action="{% url 'register' %}" method="post" id="registration_form">
                {% csrf_token %}
                <h1>Create Account</h1>

                {{ register_form.res_username }}
                <div class="invalid-username-feedback"></div>

                <!-- Password Field -->
                {{ register_form.res_password }}
                <div class="invalid-password-feedback"></div>

                <!-- Confirm Password Field -->
                {{ register_form.res_confirm_password }}

                <button type="submit" id="registerBtn" name="registration">Register</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'authentication/js/registration_login.js' %}"></script>
</body>
</html>