{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" novalidate>
      {% csrf_token %}
      <h2>Login</h2>
      {{ form.as_p }} {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <input type="submit" value="Login" />
    </form>
    <p>Hoặc đăng nhập bằng:</p>
    <a href="{% url 'google-login' %}">
      <button>Đăng nhập bằng Google</button>
    </a>
  </body>
</html>
