{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng ký tài khoản</title>
  </head>
  <body>
    <h2>Đăng ký</h2>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Đăng ký</button>
    </form>

    <div class="invalid-username-feedback"></div>
    <div class="invalid-password-feedback"></div>

    <p>Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>

    <script src="{% static 'authentication/js/registration.js' %}"></script>
  </body>
</html>
