{% extends "base/base.html" %} 
{%load static%} 

{% block title %}Ghi chú{%endblock %} 

{% block head %}
<!-- CSS, fonts, v.v. -->
<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
  rel="stylesheet"
/>
{% endblock %}

{% block content %}
<div class="auth-header">
  <div id="userProfileWidget" class="auth-section expanded">
    <div class="collapse-icon">
      <i class="fa-solid fa-user-circle"></i>
    </div>

    <div class="user-display">
      <h2>Welcome, {{ user.username }}!</h2>
    </div>

    <div class="user-details">
      <p>Email: {{ user.email }}</p>
      <p>First Name: {{ user.first_name }}</p>
      <p>Last Name: {{ user.last_name }}</p>
    </div>

    <a href="{% url 'logout' %}" class="button">Logout</a>
  </div>
</div>

<div class="container">
  <h1>Welcome to My Notes!</h1>
  <h2>My Notes</h2>
  <ul id="note-list" class="note-list">
    <!-- Notes sẽ được thêm bằng JS -->
  </ul>
</div>

<footer>SE332.P22</footer>

{% endblock %}

{% block script %}
<script src="{% static 'notes/js/notemain.js' %}"></script>
{% endblock %}
